* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$text-color: grey;

//header section
.header-sec {
  max-width: 30rem;
  margin: 20px auto;
  text-align: center;

  p {
    color: $text-color;
  }
}

//search section
.search-section {
  max-width: 70rem;
  margin: 40px auto;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;

  .search-filter {
    max-width: 35rem;
    input {
      max-width: 100%;
      height: 35px;
      border: hidden;
      margin-top: 30px;
      outline: none;
      padding-left: 10px;
      border: 1px solid $text-color;
    }
  }

  .filter-sec {
    max-width: 30rem;

    .select-filter {
      display: flex;
      gap: 30px;
    }
  }
}

//main section
.my-div {
  max-width: 70rem;
  margin: 20px auto;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  .cover-sec {
    max-width: 25rem;
    padding: 20px auto;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;

    .image_container {
      max-width: 120px;
      margin: 0 auto;
      padding: 20px;

      img {
        width: 100%;
      }
    }
  }
}

//pagination

//media query
@media (max-width: 870px) {
  .my-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 788px) {
  .search-section {
    .filter-sec {
      .select-filter {
        display: flex;
        gap: 5px;
        .form-group {
          .form-select {
            font-size: 0.8rem;
            padding: 0.2rem 1.8rem 0.3rem 0.7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .search-section {
    max-width: 50rem;
    display: flex;
    flex-direction: column;

    .search-filter {
      max-width: 40rem;
      height: 3rem;
      border: 1px solid black;
      input {
        max-width: 40rem;
        padding-bottom: 20px;
        margin-top: 10px;
        border: none;
      }
    }

    .filter-sec {
      .check-filter {
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
      }

      .select-filter {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .my-div {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 0;

    .cover-sec {
      max-width: 30rem;
      margin: 0 auto;
      padding: 20px 30px;
    }
  }
}
